<form method="post" action="{{ path('app_publication_delete', {'id': publication.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.id) }}">
    <button class="btn">Supprimer le post</button>
</form>
